apiVersion: apps/v1
kind: Deployment
metadata:
  name: paper-app-deploy
  namespace: paper
  labels:
    app: paper
spec:
  replicas: 3
  selector:
    matchLabels:
      app: paper
  template:
    metadata:
      annotations:
        sidecar.istio.io/status: ""
        sidecar.istio.io/rewriteAppHTTPProbers: "false"
      labels:
        app: paper
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: paper
      containers:
        - name: paper-app-container
          image: ghcr.io/cdsl-research/paper:master-9670246
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MONGO_HOST
              value: paper-mongo
            - name: MINIO_HOST
              value: "paper-minio.paper:9000"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "k8s.pod.name=$(POD_NAME),k8s.namespace.name=$(POD_NAMESPACE),k8s.node.name=$(NODE_NAME)"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              # value: "http://192.168.201.12:4317"
              value: "http://signoz-k8s-k8s-infra-otel-agent.signoz.svc.cluster.local:4317"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: OTEL_EXPORTER_OTLP_INSECURE
              value: "true"
            - name: OTEL_SERVICE_NAME
              value: "paper"
---
apiVersion: v1
kind: Service
metadata:
  name: paper-app
  namespace: paper
spec:
  type: NodePort
  selector:
    app: paper
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 8000
