<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Author Registration</title>
</head>
<body>
<h1>著者の追加</h1>

<form>
    <label for="fname-ja">姓(日本語)</label>
    <input type="text" name="first-name-ja" id="fname-ja">
    <br>
    <label for="mname-ja">ミドルネーム(日本語)</label>
    <input type="text" name="middle-name-ja" id="mname-ja">
    <br>
    <label for="lname-ja">名(日本語)</label>
    <input type="text" name="last-name-ja" id="lname-ja">
    <br>
    <label for="fname-en">姓(英語)</label>
    <input type="text" name="first-name-en" id="fname-en">
    <br>
    <label for="mname-en">ミドルネーム(英語)</label>
    <input type="text" name="middle-name-en" id="mname-en">
    <br>
    <label for="lname-en">名(英語)</label>
    <input type="text" name="last-name-en" id="lname-en">
    <br>
    <label for="year">参加年(半角英数)</label>
    <input type="number" name="joined-year" id="year">
    <br>
    <input type="radio" name="graduation" value="0" id="grad" checked="checked"><label for="grad">所属中</label>
    <input type="radio" name="graduation" value="1" id="ungrad"><label for="ungrad">卒業済み</label>
    <br>
    <button type="button">送信</button>
</form>

</body>
</html>