<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>論文の編集</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>

<body>
    <h1>論文の編集</h1>

    <form method="post" action="/paper/{{ paper.uuid }}/edit" enctype="multipart/form-data">
        <table>
            <tr>
                <th><label for="title">タイトル</label></th>
                <td><input type="text" name="title" id="title" value="{{ paper.title }}"></td>
            </tr>
            {% for found_author in default_authors %}
            <tr>
                <th><label for="author{{ loop.index }}">著者{{ loop.index }}</label></th>
                <td>
                    <select name="author{{ i }}" id="author{{ i }}">
                        <option value="{{ found_author.uuid }}" selected>{{ found_author.label }}</option>
                        {% for author in authors %}
                        <option value="{{ author.uuid }}">{{ author.last_name_ja }} {{ author.middle_name_ja }} {{
                            author.first_name_ja }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th><label for="keywords">キーワード<br>(カンマ区切り)</label></th>
                <td><input type="text" name="keywords" id="keywords" value="{{ paper.keywords }}"></td>
            </tr>
            <tr>
                <th><label for="label">ラベル</label></th>
                <td><input type="text" name="label" id="label" value="{{ paper.label }}"></td>
            </tr>
            <tr>
                <th>公開の有無</th>
                <td>
                    <input type="radio" name="publish" value="1" id="public" {% if paper.publish %} checked="checked" {%
                        endif %}><label for="public">公開</label>
                    <input type="radio" name="publish" value="0" id="unpublic" {% if not paper.publish %}
                        checked="checked" {% endif %}><label for="unpublic">非公開</label>
                </td>
            </tr>
            <tr>
                <th><label for="pdffile">PDFファイル</label></th>
                <td><input type="file" name="pdffile" id="pdffile"></td>
            </tr>
            <tr>
                <th></th>
                <td><button type="submit" style="width: 100%;">送信</button></td>
            </tr>
        </table>
    </form>

</body>

</html>