<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>論文の追加</title>
</head>
<body>
<h1>論文の追加</h1>

<form>
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="author">著者</label>
    <select name="author" id="author">
        <option>太郎</option>
    </select>
    <br>
    <label for="keywords">キーワード(カンマ区切り)</label>
    <input type="text" name="keywords" id="keywords">
    <br>
    <label for="label">ラベル</label>
    <input type="text" name="label" id="label">
    <br>
    <label for="pdffile">PDFファイル</label>
    <input type="file" name="pdffile" id="pdffile">
    <br>
    <button type="button">送信</button>
</form>

</body>
</html>