apiVersion: apps/v1
kind: Deployment
metadata:
  name: fulltext-app-deploy
  namespace: fulltext
  labels:
    app: fulltext
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fulltext
  template:
    metadata:
      annotations:
        sidecar.istio.io/status: ""
        sidecar.istio.io/rewriteAppHTTPProbers: "false"
      labels:
        app: fulltext
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: fulltext
      containers:
        - name: fulltext-app-container
          image: ghcr.io/cdsl-research/fulltext:master-9670246
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: ELASTICSEARCH_HOST
              value: "fulltext-elastic.fulltext:9200"
            - name: ELASTICSEARCH_INDEX
              value: fulltext
            - name: PAPER_SVC_HOST
              value: "paper-app.paper:4000"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "k8s.pod.name=$(POD_NAME),k8s.namespace.name=$(POD_NAMESPACE),k8s.node.name=$(NODE_NAME)"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              # value: "http://192.168.201.12:4317"
              value: "http://signoz-k8s-k8s-infra-otel-agent.signoz.svc.cluster.local:4317"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: OTEL_EXPORTER_OTLP_INSECURE
              value: "true"
            - name: OTEL_SERVICE_NAME
              value: "fulltext"
---
apiVersion: v1
kind: Service
metadata:
  name: fulltext-app
  namespace: fulltext
spec:
  type: NodePort
  selector:
    app: fulltext
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 8000
