<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title | default("論文検索サービス") }} | クラウド・分散システム研究室</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            max-width: 1024px;
            margin: auto;
            padding: 1rem;
        }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header class="mb-4">
        <nav class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a class="text-white text-2xl font-bold" href="/">doktor</a>
                <div>
                    <!-- <a class="text-gray-300 hover:text-white mx-2" href="/">トップ</a> -->
                </div>
            </div>
        </nav>
    </header>