<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title | default("論文検索サービス") }} | クラウド・分散システム研究室</title>
    <!-- Powered by https://holidaycss.js.org/ -->
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header>
        <h1>doktor</h1>
        <p><a href="https://ja.tak-cslab.org/">クラウド・分散システム研究室</a>で作成されたテクニカルレポートを公開しています．</p>
        <form method="get" action="/">
            <input type="text" name="keyword" id="keyword" value="{{ search_keyword }}" placeholder="著者名/タイトル/キーワード">
            <button type="submit">検索</button>
        </form>
    </header>