{% include '_header.html' %}

<main>
    {% if authors %}
    <h2>著者:</h2>
    {% for author in authors %}
    <li><a href="/author/{{ author.uuid }}">{{ author.name }}</a></li>
    {% endfor %}
    <h2>論文:</h2>
    {% endif %}

    {% for year_month, year_month_papers in papers.items() %}
    <section>
        <h3>{{ year_month }}</h3>
        <ul>
            {% for paper in year_month_papers %}
            <li>
                <h4 class="title"><a href="/paper/{{ paper.uuid }}" class="view">{{ paper.title }}</a></h4>
                <div class="paper-detail">
                    <span>{% for author in paper.author %} {{ author }}, {% endfor %}</span>
                    <span>{{ paper.label }},</span>
                    <span>{{ paper.created_at }}, </span>
                    <span>ダウンロード数: {{ paper.downloads }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</main>

<style>
    div.paper-detail {
        display: flex;
        flex-wrap: wrap;
    }

    div.paper-detail>span {
        margin: 0 1rem 0 0;
    }

    section>ul {
        list-style: none;
        padding: 0;
    }

    section>ul>li {
        border-bottom: solid 1px #d7d7d7;
        padding-bottom: 1rem;
    }

    section>ul>li>h4 {
        font-weight: normal;
        font-size: 1.15rem;
    }

    a.view {
        text-decoration: none;
    }
</style>

{% include '_footer.html' %}