<html>
<head>
    <title>Top</title>
</head>
<body>
    <h1>Top</h1>
    <table>
        <thead>
        <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>ラベル</th>
            <th>公開日</th>
        </tr>
        </thead>
        <tbody>
        {% for paper in papers %}
            <tr>
                <td>{{ paper.title }}</td>
                <td>{{ paper.author }}</td>
                <td>{{ paper.label }}</td>
                <td>{{ paper.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>