{% include '_header.html' %}

<main>
    {% if authors %}
    <h2>著者:</h2>
    {% for author in authors %}
    <li><a href="/author/{{ author.uuid }}">{{ author.name }}</a></li>
    {% endfor %}
    <h2>論文:</h2>
    {% endif %}

    <ul>
        {% for paper in papers %}
        <li><a href="/paper/{{ paper.uuid }}">
                {% for author in paper.author %} {{ author }}, {% endfor %}
                "{{ paper.title }}", {{ paper.label }}, {{ paper.created_at }}.
            </a></li>
        {% endfor %}
    </ul>
</main>

{% include '_footer.html' %}